{% extends 'base.html'%}

{% block title %}
    <title>{{ blog.title }}</title>
{% endblock %}

{% block content %}
<div class="blog-post">
    <h2 class="blog-title">
        <a href="{% url 'blog_details' blog.pk %}">{{ blog.title }}</a>
    </h2>
    <p class="blog-author">Written by <strong>{{ blog.author }}</strong></p>
    <hr>
    <p class="blog-body">
        {{ blog.body }}
    </p>
    <a href="{% url 'blog_update' blog.pk %}">Update the blog</a>
    <a href="{% url 'blog_delete' blog.pk %}">Delete the blog</a>
</div>
{% endblock %}